<h1 class="text-center mt-3">Ajouter la formation de votre école</h1>
<div class="container bg-light">
<form class="d-flex flex-column mx-3" [formGroup]="formationCreationForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="schoolName" class="fs-5 form-label">
      Nom de l'école<span class="text-danger">*</span>
    </label>
    <input 
      type="text" 
      id="nomEcole" 
      class="form-control" 
      maxlength="200" 
      placeholder="max 200 charactères" 
      formControlName="schoolName">
  </div>
  <div class="mb-3">
    <label for="formationName" class="fs-5 form-label">
      Nom de la formation<span class="text-danger">*</span>
    </label>
    <input 
      type="text"  
      class="form-control" 
      maxlength="200" 
      placeholder="max 200 charactères" 
      formControlName="formationName">
  </div>
  <div class="mb-3">
    <label for="city" class="fs-5 form-label">
      Ville<span class="text-danger">*</span>
    </label>
    <input 
      type="text" 
      class="form-control" 
      maxlength="50" 
      formControlName="city">
  </div>


  <div class="d-flex justify-content-center m-4">
    <button class="btn btn-primary">Ajouter</button>
  </div>
</form>
</div>