<h1 class="text-center mt-3">S'authentifier</h1>
<div class="container" id="container">
  <form class="d-flex flex-column mx-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Votre adress mail</mat-label>
      <input
        matInput
        placeholder="bonjour@example.com"
        formControlName="username"
        required
      />
      <!-- <mat-error *ngIf="accountCreationForm.get('username')?.invalid">{{ errorMessage }}</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>
    <div class="d-flex justify-content-center m-4">
      <button class="btn btn-primary">S'authentifier</button>
    </div>
  </form>
</div>
