<div class="parent mt-5">
    <div class="modify">
        <h2>Modifier l'information de votre formation</h2>
        <h3>Entrez ID de la formation que vous souhaitez modifier</h3>
        <form (ngSubmit)="onModify()" class="d-flex flex-column" [formGroup]="updateIdForm">
            <mat-form-field>
                <input matInput type="text" formControlName="updateId">
            </mat-form-field>
            <button>Modifier</button>
        </form>
    </div>
    <div>
        <h2>Supprimer votre formation depuis le site</h2>
        <h3>Entrez ID de la formation que vous souhaitez supprimer</h3>
        <form (ngSubmit)="openDialog()" [formGroup]="deleteIdForm" class="d-flex flex-column">
            <mat-form-field>
                <input matInput type="text" formControlName="deleteId">
            </mat-form-field>
            <button>Supprimer</button>
        </form>
    </div>
</div>