<h1 class="text-center mt-3">S'authentifier</h1>
<div class="container" id="container">
  <form class="d-flex flex-column mx-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Votre adress mail</mat-label>
      <input matInput placeholder="bonjour@example.com" formControlName="username" required />
      <mat-error *ngIf="loginForm.get('username')?.invalid">{{ getErrorMessage('username') }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="loginForm.get('password')?.invalid">{{ getErrorMessage('password') }}</mat-error>
    </mat-form-field>
    <div class="d-flex justify-content-center m-4">
      <button class="btn btn-primary" [disabled]="loginForm.invalid">S'authentifier</button>
    </div>
    <div *ngIf="nonValidInput">L’adresse e-mail ou le mot de passe est incorrect.</div>
  </form>
</div>