

body{
  margin:0;
  padding: 0;
}

// Bootstrapのデフォルトフォントを上書き
$font-family-base: 'Outfit', Helvetica, sans-serif !important;
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0;}
html, body, *, ::before, ::after {
  font-family: 'Outfit',Helvetica, sans-serif !important;
}



// /* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';
