<!-- <header>
  <div class="header">
    <a routerLink="">
      <h1>Girls in Tech</h1>
    </a>
    <div class="signInUp">
      <a routerLink="/login">
        <div>Se connecter</div>
      </a>
      <a routerLink="/create-account">
        <div>Créer un compte</div>
      </a>
    </div>
  </div>
</header> -->

<header>
  <nav class="navbar navbar-expand-lg background-color">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a class="text-center text-lg-start title" routerLink="">Girls in Tech</a>

      <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div [ngbCollapse]="isNavbarCollapsed"
        class="collapse navbar-collapse justify-content-center justify-content-lg-end">

        <ng-container *ngIf="!(authService.isLoggedIn$ |async); else loggedIn">
          <ul class="navbar-nav text-center text-lg-end ms-lg-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Se connecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/create-account">Créer un compte</a>
            </li>
          </ul>
        </ng-container>

        <ng-template #loggedIn>
          <div class="navbar-nav text-center text-lg-end ms-lg-auto">
            <a class="nav-link" role="button" (click)="logout()">Se déconnecter</a>
          </div>
        </ng-template>

      </div>
    </div>
  </nav>
</header>