mat-card {
  background-color: #FFC1A3;
}

mat-card-subtitle {
  font-size: 1.15rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}