mat-card {
  background: linear-gradient(180deg, #fdf0f0 80%, #fcd9d93a 100%);
}

mat-card-subtitle {
  font-size: 1.15rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}